.content {
  background-image: radial-gradient(
    145.05% 100% at 50% 0,
    #1d2b41 0,
    #020509 57.38%,
    #0f1a29 88.16%
  );
  min-height: 100vh;
}

.title {
    font-size: 48px;
    font-weight: 500;
}