.content {
  background: #1d2e58;
  border: 1px solid #7d92c7;
  border-radius: 90px;
  display: inline-block;
  width: auto;
  padding: 14px 18px;
  color: #f3f3f3;
  font-size: 14px;
  font-weight: 600;
}
