.title {
  /* stylelint-disable-next-line value-no-vendor-prefix */
  background-image: radial-gradient(
    138.06% 1036.51% at 95.25% -2.54%,
    #7ed4fd 14.06%,
    #709df7 51.02%,
    #4d78ef 79.09%
  );
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
